    body{
         background-image: url("../img/Draw.jpeg");
         background-attachment: fixed;
         background-position-y: -5em;
         
            
    }
    //center effect
    .container{
        margin: 10em auto;
            
    }


    .thumbnail {
        padding: 0 0 15px 0;
        border: none;
        border-radius: 0;
    }
    
    .thumbnail p {
        margin-top: 15px;
        color: #555;
    }
    
    // Black buttons with extra padding and without rounded borders
    .btn {
        padding: 10px 20px;
        background-color: #333;
        color: #f1f1f1;
        border-radius: 0;
        transition: .2s;
    }
    
    // On hover, the color of .btn will transition to white with black text 
    .btn:hover, .btn:focus {
        border: 1px solid #333;
        background-color: #fff;
        color: #000;
    }

    .contact{
        background-color: white;
        padding: 1em 4em 1em 4em;
    }

    .last{
        color: #fff;
    }

    .projects .col-sm-12:hover{
        transform: scale(1.01);
       
    
    }

    //minimize margins from container on small screens
    @media only screen and (max-width: 766px) {
        .container{
        margin: 3em auto;
        }
       
    }
